<%= form_for @workshop do |f| %>
  <% @workshop.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger" role="alert"><%= msg %></p>
  <% end %>
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label>Description</label>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <label>Image</label>
    <%= f.text_field :image %>
  </div>
  <div class="form-group">
    <label>Demo</label>
    <%= f.text_field :demo_link %>
  </div>
  <div class="form-group">
    <label>GitHub repository</label>
    <%= f.text_field :github_link %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
