<h2>Workshop index</h2>

<%= link_to "Create a new workshop", new_workshop_path %>

<% @workshops.each do |workshop| %>
  <h3><%= workshop.title %></h3>
  <p><%= workshop.description %></p>
  <%= link_to "Demo", workshop.demo_link %>
  <%= link_to "GitHub", workshop.github_link %>
  <img src="<%= workshop.image %>"/>
  <%= link_to "View this workshop", workshop_path(workshop) %>
  <%= link_to "Edit this workshop", edit_workshop_path(workshop) %>
<% end %>
