<h1>Incompany Requests</h1>

<% @incompanyrequest.each do |incompanyrequest| %>
  <p><%= incompanyrequest.first_name %></p>
  <p><%= incompanyrequest.last_name %></p>
  <p><%= incompanyrequest.company_name %></p>
  <p><%= incompanyrequest.date %> </p>
  <p><%= incompanyrequest.spaces_available %></p>
  <p><%= incompanyrequest.workshop_id %></p>


<%= button_to "Delete IncompanyRequest", incompanyrequest_path(@incompanyrequest:id), method: :delete, data:{confirm:"Are you sure you want to delete this Incompany Request?"} %>

<% end %>
