<h2>Navigation</h2>
<%= link_to "Dashboard", "#" %>
<hr>
<h3>Events</h3>
<ul>
  <li><%= link_to "Events", admin_events_path %></li>
  <li><%= link_to "InCompany Requests", "#" %></li>
</ul>
<hr>
<h3>Sponsors</h3>
<ul>
  <li><%= link_to "Sponsors", admin_sponsors_path %></li>
  <li><%= link_to "Sponsor Requests", "admin_sponsor_requests_path" %></li>
</ul>
