<section class="row text-center row-secondary">
  <h2>Get Ready For It!</h2>
  <p class="subtitle">Download these tools on your laptop and be part of our community.</p>
  <div class="col-md-4">
    <%= image_tag 'atom-editor-logo.png', class: "img-medium" %>
    <%= link_to "Download", "", class: "btn btn-secondary" %>
  </div>
  <div class="col-md-4">
    <%= image_tag 'chrome-logo.png', class: "img-medium" %>
    <%= link_to "Download", "", class: "btn btn-secondary" %>
  </div>
  <div class="col-md-4">
    <%= image_tag 'slack-logo.svg', class: "img-medium" %>
    <%= link_to "Download", "", class: "btn btn-secondary" %>
  </div>
</section>
