<section class="row text-center">
  <h2>What people say about TOC</h2>
  <div id="testimonial-video">
    <iframe class="center-block" src="https://player.vimeo.com/video/201633032" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-testimonial" data-slide-to="1"></li>
      <li data-target="#carousel-testimonial" data-slide-to="2"></li>
      <li data-target="#carousel-testimonial" data-slide-to="3"></li>
      <li data-target="#carousel-testimonial" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'http://i.imgur.com/Gi7FOKZ.jpg', class: "img-responsive center-block img-carousel", alt: "Small picture" %>
        <div class="carousel-caption">
          <h4>Wouter</h4>
          <p>I had a really cool time!</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'http://i.imgur.com/Gi7FOKZ.jpg', class: "img-responsive center-block img-carousel", alt: "Small picture" %>
        <div class="carousel-caption">
          <h4>Bas</h4>
          <p>I had a really cool time!</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'http://i.imgur.com/Gi7FOKZ.jpg', class: "img-responsive center-block img-carousel", alt: "Small picture" %>
        <div class="carousel-caption">
          <h4>Anika</h4>
          <p>I had a really cool time!</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'http://i.imgur.com/Gi7FOKZ.jpg', class: "img-responsive center-block img-carousel", alt: "Small picture" %>
        <div class="carousel-caption">
          <h4>Vanessa</h4>
          <p>I had a really cool time!</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'http://i.imgur.com/Gi7FOKZ.jpg', class: "img-responsive center-block img-carousel", alt: "Small picture" %>
        <div class="carousel-caption">
          <h4>Caroline</h4>
          <p>I had a really cool time!</p>
        </div>
      </div>
    </div>
  </div>
</section>
