<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Location</th>
      <th>Spaces Available</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if events.count > 0 %>
      <% events.each do |event| %>
        <tr class="clickable-row" data-href='<%= event_url(event.id) %>'>
          <td><%= event.id %></td>
          <td><%= link_to event.title, event %></td>
          <td><%= event.location %></td>
          <td><%= event.spaces_available %></td>
          <td><%= event.date %></td>
          <td>buttons</td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="6" style="text-align:center;">No events planned</td><tr>
    <% end %>
  </tbody>
</table>
