<div class="container">
  <h2><%= @event.title %></h2>
  <strong>Location: </strong><%= @event.location %></br>
  <strong>Spaces Available: </strong><%= @event.spaces_available %></br>
  <strong>Date: </strong><%= @event.date %>
  <br><br>
  <%= link_to "All Events", events_path, class: "btn btn-lg btn-default" %>
</div>
