<h1>Incompany Requests</h1>


<% if @incompanyrequests.present? %>
  <% @incompanyrequests.each do |incompanyrequest| %>

    <p><b>Name: </b><%= incompanyrequest.first_name + "" %> <%= incompanyrequest.last_name %></p>
    <p><b>Company Name:</b> <%= incompanyrequest.company_name %></p>
    <p><b>Email: </b> <%= incompanyrequest.email %></p>
    <p><b>Requested Date:</b> <%= incompanyrequest.date %> </p>
    <p><b>Spaces Available (capacity):</b><%= incompanyrequest.spaces_available %></p>
    <p><b>Workshop Type:</b><%= incompanyrequest.workshop_id %></p>

    <%= link_to "Edit Request", edit_admin_incompany_request_path(incompanyrequest), class:"btn btn-primary" %>
    <%= link_to "Delete Request", admin_incompany_request_path(incompanyrequest.id), class:"btn btn-primary", method: :delete, data: { confirm: "Are you sure?" }  %>
    <hr>

    <% end %>
  <% end %>
