<h1>Incompany Requests</h1>


  <% @incompanyrequests.each do |incompanyrequest| %>
    <p>Name: <%= incompanyrequest.first_name + "" %> <%= incompanyrequest.last_name %></p>
    <p>Company Name: <%= incompanyrequest.company_name %></p>
    <p>Requested Date: <%= incompanyrequest.date %> </p>
    <p>Spaces Available (capacity):<%= incompanyrequest.spaces_available %></p>
    <p>Workshop #:<%= incompanyrequest.workshop_id %></p>
    <hr>
    <%= link_to "Edit Request", edit_admin_incompany_requests_path(incompany_request), class:"btn-btn-primary" %>
    <%= link_to "Delete Request", admin_incompany_request(@incompanyrequest.id),  method: :delete, class:"btn-btn-primary" data:{confirm:"Are you sure you want to delete this artist and all their songs?"} %>
  <% end %>
