<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="logo-container">
          <%= image_tag "codaisseur-logo-horizontal-outlines-white.svg" %>
        </div>
        <ul class="footer-menu">
          <li><h4><%= link_to "Home", root_path %></h4></li>
          <li><h4><%= link_to "Public TOC", root_path %></h4></li>
          <li><h4><%= link_to "InCompany TOC", root_path %></h4></li>
          <li><h4><%= link_to "Host TOC", root_path %></h4></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4">
        <p class="address">
          Codaisseur BV<br>
          <%= mail_to "info@codaisseur.com" %><br>
          <%= link_to "https://goo.gl/maps/ePdA5GQUx8L2" do %>
          Singel 542<br>
          1017 AZ Amsterdam<br>
          The Netherlands<br>
          <% end %>
          <%= link_to "+31202615197", "tel:+31202615197" %><br>
        </p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h4>Follow us</h4>
        <div class="social-icons">
          <div class="icon-container">
            <%= link_to "https://twitter.com/devbootcamps", target: "blank" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
          <div class="icon-container">
            <%= link_to "https://www.facebook.com/developmentbootcamp", target: "blank" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </div>
          <div class="icon-container">
            <%= link_to "https://www.linkedin.com/company/development-bootcamp", target: "blank" do %>
              <i class="fa fa-linkedin"></i>
            <% end %>
          </div>
          <div class="icon-container">
            <%= link_to "https://github.com/devbootcamps", target: "blank" do %>
              <i class="fa fa-github"></i>
            <% end %>
          </div>
        </div>
        <div class="subscription-container">
          <h4>Meld je aan voor de nieuwsbrief</h4>
          <p>Create a form here</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:0;">
      <div class="bank-details">
        <p style="margin: 0;">Terms & Conditions • © 2017 Codaisseur •  Made with ♥ in ✖✖✖ </p>
        <p>KvK: 63359359 • VAT ID: NL855202907B01 • Bank: NL59BUNQ2025584334</p>
      </div>
    </div>
  </div>
</div>
