<div>
    <%= form_for @sponsor_request do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>

   <%= f.label :company_name %>
   <%= f.text_field :company_name %>

   <%= f.label :date %>
   <%= f.text_field :date %>

   <%= f.label :spaces_available %>
   <%= f.number_field :spaces_available %>

   <%= f.submit "Create", class: "btn btn-primary" %>
   <% end %>
</div>
