<h1>Attend Public Page</h1>
<%= render 'shared/topbanner' %>
<%= render 'what_you_will_learn' %>
<%= render 'shared/sponsors' %>
<%= render 'shared/newsletter'%>
<footer class="footer">
  <%= render 'footer' %>
</footer>
