
<h1>Attend Public Page</h1>
<%= render 'shared/navbar' %>
<%= render 'shared/topbanner' %>
<%= render 'what_you_will_learn' %>
<%= render 'shared/testimonials' %>
<%= render 'shared/sponsors' %>
<%= render 'shared/newsletter'%>
<%= render 'shared/footer' %>

