<h1>Edit Sponsor Company</h1>

<%= form_for @sponsor do |f| %>

  <%= f.label :company_name %>
  <%= f.text_field :company_name %>

  <%= f.label :logo %>
  <%= f.text_field :logo %>

  <div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>
